name: Documentacao Check (QA Portfolio)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  # Permite rodar o workflow manualmente pela aba Actions
  workflow_dispatch:

jobs:
  validate_portfolio_structure:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Verifica a existencia do Plano de Teste (Parabank)
      run: |
        if [ ! -f "Teste_Formulario_Parabank/PLANO_SIMPLES.md" ]; then
          echo "ERRO: O arquivo de plano de teste (PLANO_SIMPLES.md) esta faltando."
          exit 1
        fi
        
    - name: Verifica a existencia do Relatorio de Bugs (Parabank)
      run: |
        if [ ! -f "Teste_Formulario_Parabank/RELATORIO_DE_BUGS.md" ]; then
          echo "ERRO: O arquivo de relatorio de bugs (RELATORIO_DE_BUGS.md) esta faltando."
          exit 1
        fi
      
    - name: Estrutura da Documentacao OK
      run: echo "Sucesso! Todos os documentos essenciais do portifolio foram encontrados."
